h1 {
    color: red;
}
h2{
    color: blue;
}
h3{
    color:blueviolet;
}
p{
    color: brown;
}
button{
    color:darkgoldenrod;
    background-color:bisque
}
/* 
body{
    background-color: aquamarine;
}  */

 /*  rgb */

/* body{
    background-color: rgb(50,80,90); }
    */


    body{
        background-color: #ffff00;
    }
